<div class="container border rounded-lg w-50" style="background-color: white;">
<%= form_with model: @user, local: true do |f| %>

  <div class="form-group text-center mx-5 pt-5">
    <%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "no_image.jpg", class: "rounded-circle mb-3" %><br>
    <%= f.attachment_field :image, placeholder: "プロフィール画像",class: "offset-2" %>
  </div>

  <div class="form-group h3 mx-5 pt-5">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group h3 mx-5 mt-2 pt-5">
    <%= f.label :caption %><br />
    <%= f.text_area :caption, autofocus: true, id:"inputName", placeholder:"自己紹介", class: "form-control" %>
  </div>

  <div class="mx-5 mb-5 py-5 text-center">
    <%= f.submit "Upload", class: "form-control btn btn-primary w-50" %>
  </div>

<% end %>
</div>