  <div class="container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-2 m-2">
          <%= attachment_image_tag @user, :image, :fill, 150, 150, format:'jpeg', fallback:"no_image.jpg"%>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= @user.name %>
              <span class="ml-5">
                <% if @user.id == current_user.id %>
                  <%= link_to "", edit_user_path(@user), class: "fas fa-cog btn btn-success" %>
                <% end %>
              </span>
            </h5>
            <h5>
              <%= @user.caption %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'posts/all_posts', posts: @posts %>
