<% posts.each do |post| %>
<div class="container mb-3">
  <div class="card shadow">
    <div class="text-center">
      <div class="card-body">
        <div class="mb-3 text-center">
        <%= link_to user_path(post.user.id), class:"text-dark" do %>
          <p class="d-inline"><%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback:"no_image.jpg", class:"mt-2 rounded-circle" %></p><br>
          <p class="mb-2 d-inline"><%= post.user.name %></p>
        <% end %>
        </div>
        <p class="mb-5">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
        <div class="m-5">
          <span class="h3 m-5" id="like-btn_<%= post.id %>">
            <%= render "likes/like-btn", post: post %>
          </span>
          <span class="h3 m-5" id="stock-btn_<%= post.id %>">
            <%= render "stocks/stock-btn", post: post %>
          </span>
        </div>
        <h1 class="display-3 song-title"><%= post.title %></h1>
      </div>
    </div>
    <div class="row mx-auto">
      <%= attachment_image_tag post, :image, :fill, 200, 200, class: "d-block rounded-lg m-4 shadow-lg" %>
    </div>
    <div class="text-center p-2 m-2">
      <%= simple_format(post.body.truncate(100)) %>
      <%= link_to "Show more", post_path(post.id), class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
<% end %>
<div class="d-flex justify-content-center m-3">
  <%= paginate posts %>
</div>