<% posts.each do |post| %>
  <div class="card mx-auto w-50 mb-5">
    <%= link_to post_path(post.id) do %>
    <div>
      <%= attachment_image_tag post.user, :image, :fill, 60, 60, fallback:"no_image.jpg" %>
    </div>
    <div>
      <%= post.user.name %>
    </div>
    <div>
      <strong><%= post.title %></strong>
    </div>
    <div>
      <%= attachment_image_tag post, :image, :fill, 200, 200 %>
    </div>
    <div>
       <%= post.body %>
    </div>
    <% end %>
    <div id="like-btn_<%= post.id %>">
      <%= render "likes/like-btn", post: post %>
    </div>
  </div>
<% end %>
