<% posts.each do |post| %>
  <div class="card mx-auto w-50 mb-5">
    <%= link_to post_path(post.id) do %>
    <div>
      <%= attachment_image_tag post.user, :image, :fill, 60, 60, fallback:"no_image.jpg" %>
    </div>
    <div>
      <%= post.user.name %>
    </div>
    <div>
      <strong><%= post.title %></strong>
    </div>
    <div>
      <%= attachment_image_tag post, :image, :fill, 200, 200 %>
    </div>
    <div>
       <%= post.body %>
    </div>
    <% end %>
    <div id="like-btn_<%= post.id %>">
      <%= render "likes/like-btn", post: post %>
    </div>
    <div id="stock-btn_<%= post.id %>">
      <%= render "stocks/stock-btn", post: post %>
    </div>
  </div>
<% end %>


<% posts.each do |post| %>
<div class="container w-75 pt-3">
  <div class="card shadow m-5">
    <div class="text-center">
      <div class="card-body mx-auto">
        <%= link_to post_path(post.id) do %>
        <h3 class="card-title"><%= post.title %></h3>
        <% end %>
      </div>
    </div>
    <div class="row mx-auto">
      <%= attachment_image_tag post, :image, :fill, 500, 200, class: "d-block rounded-circle m-4 shadow" %>
    </div>
    <div class="card shadow m-2">
        <h2>Lyrics</h2>
        <p><%= simple_format(post.body) %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
