<div class="container border rounded-lg" style="background-color: white;">
  <div class="row">
    <div class="col text-center">
      <%= link_to user_path(@post.user.id), class:"text-dark" do %>
        <p><%= attachment_image_tag @post.user, :image, :fill, 150, 150, fallback:"no_image.jpg", class:"mt-3 rounded-circle" %></p>
        <h3><%= @post.user.name %></h3>
      <% end %>
        <span class="h3" id="like-btn_<%= @post.id %>">
          <%= render "likes/like-btn", post: @post %>
        </span>
        <span class="h3" id="stock-btn_<%= @post.id %>">
          <%= render "stocks/stock-btn", post: @post %>
        </span>
        <% if @post.user == current_user %>
          <%= link_to "削除する", post_path(@post), method: :delete %>
          <%= link_to "編集する", edit_post_path(@post) %>
        <% end %>
        <h4><%= @post.title %></h4>
         <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <%= attachment_image_tag @post, :image, :fill, 200, 200 %>
        <p><%= simple_format(@post.body) %></p>
    </div>
  </div>
</div>


