<header>
  <div class="container">
    <div class="row">
      <div class="col logo">
        <% if user_signed_in? %>
           <%= link_to image_tag("your_lyrics.png", size: "100x100"), posts_path %>
        <% end %>
      </div>
      <div class="col">
        <% if user_signed_in? %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to '', posts_path, class: 'fas fa-home mx-3 mt-4' %>
          </li>
          <li class="nav-item">
            <%= link_to '', new_post_path, class: 'fas fa-pen mx-3 mt-4' %>
          </li>
          <li class="nav-item">
            <%= link_to '', user_path(current_user.id), class: 'fas fa-user mx-3 mt-4' %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt mx-3 mt-4' %>
          </li>
        </ul>
        <% else %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class: 'fas fa-user-plus mx-3 mt-4' %>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_user_session_path, class: 'fas fa-sign-in-alt mx-3 mt-4' %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>
