<header>
  <div class="container">
    <div class="row">
      <div class="col logo mt-3">
        <% if user_signed_in? %>
          <%= link_to image_tag("your_lyrics-removebg.png", size: "200x40"), posts_path %>
        <% else %>
          <%= link_to image_tag("your_lyrics-removebg.png", size: "200x40"), root_path %>
        <% end %>
      </div>
      <div class="col">
        <% if user_signed_in? %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to 'Home', posts_path, class: 'btn btn-outline-light border rounded mt-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Post', new_post_path, class: 'btn btn-outline-light border rounded ml-3 mt-3' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', user_path(current_user.id), class: 'btn btn-outline-light border rounded ml-3 mt-3' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light border rounded ml-3 mt-3' %>
          </li>
        </ul>
        <% else %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-light border rounded mx-3 mt-3' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: 'btn btn-outline-light border rounded mx-3 mt-3' %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>

